.category-table {
  margin-top: 20px;
}

.category-table h2 {
  margin-bottom: 10px;
}

.category-table table {
  width: 100%;
  border-collapse: collapse;
}

.category-table th,
.category-table td {
  border: 0px solid #ddd;
  padding: 8px;
  text-align: left;
}

.category-table th {
  background-color: #FFF8B7;
}

.category-table tbody tr {
  background-color: #F2F2F2;
  border-top: 15px solid #fff;
}

.category-table .active {
  color: green;
}

.category-table .inactive {
  color: red;
}


.category-table th {
  position: relative;
}

.sort-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
}

.sort-icon.ascending {
  transform: translateY(-50%) rotate(-90deg);
}

.sort-icon.descending {
  transform: translateY(-50%) rotate(90deg);
}

.category-table button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.category-table button:hover {
  color: #3498db;
}