Nav.css

body{
    background-color: white !important;
}

.nav-container {
    background-color: #662671;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  
  .logo img {
    max-width: 150px;
    margin-left: 10px;
  }
  
  .login-icon img {
    width: 30px;
    cursor: pointer;
    margin-left: 1120px;
  }
  .swal-text-color {
    color: black !important;
  }

  .swal-cancel-button-border {
    border: 2px solid #333 !important;
    box-sizing: border-box !important;
  }
  